@import '../constants.scss';
@import '../mixins.scss';

.card {
  
  padding: $space-xs $space-xxxl;
  box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  border-radius: 6px;

  @media screen and (max-width: 650px) {
    flex-direction: column;
  }

  &__discription {
    display: flex;
  }
  
  &__state-wrapper {
    align-self: flex-start;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: $space-xxxs;
    @media screen and (max-width: 650px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    font-size: $font-size-xl;
    font-style: normal;
    font-weight: normal;
    line-height: $line-height-l;
    margin: 0;

    @media screen and (max-width: 650px) {
      margin-top: $space-xxxs;
    }
  }

  &__number-ticket {
    margin: 0 4px 0 0;
    font-weight: 500;
    font-size: $font-size-xxxl;
    line-height: $line-height-l;

    @media screen and (max-width: 650px) {
      font-size: $font-size-xxl;
      line-height: $line-height-s;
    }
    &_good {
      color: $good-pr-color;
    }

    &_reject {
      color: $reject-pr-color;
    }

    &_queue {
      color: $queue-pr-color;
    }
  }

  &__atributes {
    display: flex;
    font-size: $font-size-l;
    line-height: $line-height-s;

    @media screen and (max-width: 650px) {
      flex-direction: column;
      margin-bottom: $space-xxxs;
    }
  }

  &__author-container {
    display: flex;
    align-items: center;
  }

  &__git-info {
    display: flex;
    align-items: center;

    @media screen and (max-width: 650px) {
      margin-bottom: $space-xxxs;
    }
  }

  &__branch {
    margin: 0 4px 0 0;
  }
  
  &__commit {
    margin: 0 4px 0 0;
    color: $history-commit-color;
  }

  &__author {
    margin: 0;
  }

  &__date {
    display: flex;
    flex-direction: column;
    @include secondary-text-style;

    @media screen and (max-width: 650px) {
      flex-direction: row;
      padding-top: $space-xxxs;
      border-top: 1px solid  #F0F2F3;
    }
  }

  &__day {
    margin: 0;

    @media screen and (max-width: 650px) {
      margin-right: 10px;
    }
  }

  &__time {
    margin: 0;
  }

  &__day-container {
    display: flex;
    align-items: center;
    margin: 0 0 $space-xs 0;

    @media screen and (max-width: 650px) {
      margin-bottom: 0;
    }
  }

  &__time-container {
    display: flex;
    align-items: center;
  }

  &__icon-pr {
    width: 21px;
    margin-right: $space-xxs;
    background-repeat: no-repeat;

    @media screen and (max-width: 650px) {
      width: 14px;
      height: 14px;
      background-size: 14px 14px;
    }

    &_good {
      background-image: url('/images/goodpr.svg');
    }
    
    &_reject {
      background-image: url('/images/reject.svg');
    }

    &_queue {
      background-image: url('/images/queue.svg');
    }
  }

  &__icon-atribute {
    margin-right: 5px;
  }

  &:hover {
    box-shadow: 0px 2px 8px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-bottom: $space-xxxs;
  }
  
  &__information {
    display: flex;
    justify-content: space-between;
    flex: 1;

    @media screen and (max-width: 650px) {
      flex-direction: column;
    }
  }
}
