@import '../../constants.scss';

.history {
  position: relative;
  flex-grow: 1;
  &__button {
    margin-top: $space-xxxs;
    margin-bottom: $space-m;
    padding: 0 $space-s;
    
    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }
}
