@import '../../constants.scss';
@import '../../mixins.scss';

.start {
  flex-grow: 1;
}

.settings-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    width: 124px;
    height: 124px;
  }

  &__img {
    margin-bottom: $space-xxxxxl;
  }

  &__text {
    @include secondary-text-style;
    text-align: center;
    max-width: 190px;
    margin-top: 0;
    margin-bottom: $space-xxxl;
  }

  &__button {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__link {
    text-decoration: none;
  }
}
